<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/runclub.JPG" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        IOWA RUNNING CLUB
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to Homepage</h2>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
 
</section>
