<section>
  <div class="page-header">
    <h1 ng-bind="vm.executive.firstName"></h1>
    <h1 ng-bind="vm.executive.lastName"></h1>
  </div>
  <div class="pull-right" ng-show="vm.executive.isAdmin">
    <a class="btn btn-primary" ui-sref="executives.edit({ executiveId: vm.executive._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Email
      <span ng-bind="vm.executive.email"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.executive.descript"></p>
</section>
