<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <div class="checkbox">
      <label><input type="checkbox" id="sort-grad-date" name="sort-grad-date" ng-model="sort_grad_date" ng-change="pageChanged()">Sort by graduation date</label>
    </div>
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text small" style="float:right" ng-bind="user.roles"></p>
      <p class="list-group-item-text small" ng-if="user.inactive === true" style="float:right"><span style="color:red">Inactive</span>, </p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
      <p class="list-group-item-text" ng-if="user.graduationYear !== -1">Graduation Date: {{user.graduationSem === 0 ? 'Spring ' : 'Fall '}}{{user.graduationYear}}</p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
</section>
