<br>
<br>
<br>
<title>Place Autocomplete</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
    </style>
    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="type-selector" class="controls">
      
      <input type="button" name="type" value="Reset Route" id="resetRoute">

    </div>
    <map  ></map>
    <div id="map"></div>
    <div>
      <br>
      <br>
      <br>
      <form name="vm.form.locationForm" class="form-horizontal" ng-submit="vm.save(vm.form.locationForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name" >Route Name</label>
          <input name="name" type="text" ng-model="vm.location.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.locationForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Route name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="hills" >Hills</label>
          <input name="hills" max="5" min="1" defaultValue="3" type="number" ng-model="vm.location.hills" id="hills" class="form-control" required>
          <div ng-messages="vm.form.locationForm.hills.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rating is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="scenic" >Scenery</label>
          <input name="scenic" max="5" min="1" defaultValue="3" type="number" ng-model="vm.location.scenic" id="scenic" class="form-control" required>
          <div ng-messages="vm.form.locationForm.scenic.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rating is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="traffic" >Traffic</label>
          <input name="traffic" max="5" min="1" defaultValue="3" type="number" ng-model="vm.location.traffic" id="traffic" class="form-control" required>
          <div ng-messages="vm.form.locationForm.traffic.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rating is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="overall" >Overall Rating</label>
          <input name="overall" max="5" min="1" defaultValue="3" type="number" ng-model="vm.location.overall" id="overall" class="form-control" required>
          <div ng-messages="vm.form.locationForm.overall.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rating is required.</p>
          </div>
        </div>
        <!--<div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>-->
        <!--<div class="form-group">
          <input name="content" type="text" ng-model="vm.location.content" id="content" class="form-control" placeholder={{location.polyLine}} required>
          <div ng-messages="vm.form.locationForm.content.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Content is required.</p>
          </div>
        </div>-->
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{ 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
