<section>
    <map zoom ='5'>
       <marker position="[41.66,-92.533]" visible="true"> </marker>
       <!-- a initial position must be set because it will prompt the users current geolocation and set it to that -->
     </map>
    <div class="form-group" >
        <label class="control-label" for="lat">Latitude</label>
        <div class="controls">
                <textarea name="content" data-ng-model="location.lat" id="content" class="form-control" cols="10" rows="1" placeholder="Latitude" required>
                </textarea>
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label" for="lon">Longitude</label>
        <div class="controls">
        <textarea name="content" data-ng-model="location.lon" id="content" class="form-control" cols="10" rows="1" placeholder="Longitude" required>
        </textarea>
    </div>
</div></section>

