<section>
  <div class="page-header">
    <div class="jumbotron text-center routes">
    <h1 class="routes">Routes</h1>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="location in vm.locations"  class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="location.created | date:'mediumDate'"></span>
        by
        <span ng-if="location.user" ng-bind="location.user.displayName"></span>
        <span ng-if="!location.user">Deleted User</span>
      </small>
      <h2 class="list-group-item-heading" ng-bind="location.name"></h2>
      <table style="width:100%">
        <tr>
          <td><p>Miles</p>
          <h4 class="list-group-item-heading" ng-bind="location.length"></h4></td>
          <td><p>Hills</p>
          <h4 class="list-group-item-heading" ng-bind="location.hills"></h4></td>
          <td><p>Scenery</p>
          <h4 class="list-group-item-heading" ng-bind="location.scenic"></h4></td>		
          <td><p>Traffic</p>
          <h4 class="list-group-item-heading" ng-bind="location.traffic"></h4></td>
          <td><p>Overall Rating</p>
          <h4 class="list-group-item-heading" ng-bind="location.overall"></h4></td>
          <td><a class="btn btn-info btn-lg" ng-click="vm.clickview(location._id)">     
          View
          </a></td>
          <td><a ng-if="(vm.unlikebuttons.indexOf(location._id) === -1 && !location.isLiked) || (vm.likebuttons.indexOf(location._id) > -1)" class="btn btn-warning btn-lg btn-like" ng-click="vm.like(location._id)">     
          Like
          </a><a ng-if="(vm.likebuttons.indexOf(location._id) === -1 && location.isLiked) || (vm.unlikebuttons.indexOf(location._id) > -1)" class="btn btn-primary btn-lg btn-unlike" ng-click="vm.unlike(location._id)">     
          Unlike
          </a></td>
        </tr>
      </table>
      
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.locations.$resolved && !vm.locations.length">
    No routes yet
  </div>
</section>

