<section>
  <br>
  <ng-map zoom ='16' id="view">
  </ng-map>
</section>
<section>
  <div class="page-header">
    <h1 ng-bind="vm.location.name"></h1>
  </div>
  <table style="width:100%">
        <tr>
          <td><p>Miles</p>
          <h4 class="list-group-item-heading" ng-bind="vm.location.length"></h4></td>
          <td><p>Hills</p>
          <h4 class="list-group-item-heading" ng-bind="vm.location.hills"></h4></td>
          <td><p>Scenery</p>
          <h4 class="list-group-item-heading" ng-bind="vm.location.scenic"></h4></td>		
          <td><p>Traffic</p>
          <h4 class="list-group-item-heading" ng-bind="vm.location.traffic"></h4></td>
          <td><p>Overall Rating</p>
          <h4 class="list-group-item-heading" ng-bind="vm.location.overall"></h4></td>
        </tr>
        <tr>
          <td><h4>Click on map to change start point.</h4></td>
        </tr>
      </table>
</section>
