.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
h1{
  font-family: 'Anton';
  font-size: 4em;
  
}
h2{
  font-family: 'Anton';
  font-size: 3em;
  
}
h1.main{
  font-family: 'Pacifico';
  font-size: 4em;
  text-shadow: 4px 4px 4px #aaa;
}
h1.routes{
  font-family: 'Pacifico';
  font-size: 5em;
  text-shadow: 4px 4px 4px #aaa;
}
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin-left: 10px;
    float: none;
}

.btn-like{
  padding: 10px 24.5px;
  /*background-image: url("../img/brand/routerec.jpg");*/
}

div.rec{
  background-image: url("../img/brand/routerec.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
}

.list-group-item:nth-child(odd){
  /*background-image: url("../img/brand/routerec.jpg");*/
  background-color: #ffffff;
  
}

.list-group-item:nth-child(even){
  /*background-image: url("../img/brand/choice1.jpg");*/
  background-color: #ffffff;

}

.list-group-item:hover{
  background-color: #8b9dc3;

}